@use "variables";
@use "mixins";

body {
    margin: 0;
    background-color: variables.$background;
    color: var(--text);
    font-family: 'Inter', sans-serif;
}

.home-background-body {
    position: relative;
    background-image: url("../images/Background.svg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    min-width: 100%;
    z-index: 0;

    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        border-right: 99vw solid transparent;
        border-bottom: 7vw solid variables.$background;
        z-index: -1;
    }
}

.home-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background: none;
    padding-top: 19px;

    @include mixins.lg{
        display: block;
    }

    &__img{
        width: 90px;
        height: 50px;
        margin-left: 112px;
    }

    &__menu{
        @extend .home-navbar;
        gap: 27px;
        margin-right: 112px;

        @include mixins.lg{
            display: block;
        }

    }

    &__ul{
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        gap: 27px;

        @include mixins.lg{
            display: block;
        }
    }

    &__li{
        font-size: 14px;
        font-weight: 400;
    }

    &__button{
        min-height: 41px;
        min-width: 128px;
        background-color: #F39C12;
        border: none;
        color: #ffffff;

        @include mixins.lg{
            position: fixed;
            top: 20px;
            right: 112px;
        }
    }

    &__href{
        text-decoration: none;
        color: black;
    }

}

.home-h1{
    position: absolute;
    top: 200px;
    left: 112px;
    background-color: #FFFFFFBF;
    padding: 45px 55px;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;

    & span {
        font-weight: 700;
    } 
}
